
:root{
    --linear-gradient:190deg,rgb(7, 86, 100),rgb(221, 230, 221);
    --linear-gradient2:80deg,rgb(7, 86, 100),rgb(221, 230, 221);
    
}
hr{
    border:1px solid rgb(88, 107, 113);
}
li,
p,
span{
    font-size:1.2em;
}
*,
*::before,
*::after{
    margin:0;
    padding:0;   
}
html{
    box-sizing: border-box; 
    width:100%;      
}
body{
    position:relative;
}
main{
    font-family:Helvetica,sans-serif;
}
#container{
    margin:0.5em 0;
}
li{
    list-style: none;
}
a:hover{
    font-size: 1.1em;
}
#container{
    width:93%;
}
.logo-cabecera,
.logo-footer{
    width:250px;
    border-radius: 100%;
}
.contenedorcabecera{
    background:linear-gradient(var(--linear-gradient))
}
#cabecera{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: flex-end;   
}
#cabecera h1{
    font-size:3em;  
    margin:0.6em 0.5em 0.6em 1.7em;
}
.logo-cabecera{
    position:absolute;
    top:-15px;
    left:-50px;
}
#nav-bar{
    padding:1em 0;
      
}
#nav-bar ul{
    display:flex; 
    justify-content: flex-start;
    
}
#nav-bar li{
    margin:0em 2em;
}
#nav-bar a{
    font-weight:bold;
    font-style: italic;
    text-transform: uppercase;
    color:black;
}

#foto-cv{
    width:180px;
    height:210px;
    border-radius: 100%;
}
#cv-imagen-titulo{
    text-align: center;
    float:right;
    padding:0.5em;
    margin:0em 0em 0em 1em;
    border:3px solid lightgray;
    border-radius:2em;  
}
.titulo h2{
    text-decoration: underline;
}

.titulo li,
.titulo p{
    margin:0.5em 0 0 0.5em;
}
#contacto img{
    width:35px;
    border-radius: 100%;
}
.habilidades ul{
    display:grid;
    grid-template-columns: repeat(6,1fr);   
}

.habilidades ul li{  
    padding:0.2em;
    border-radius: 1em;
    font-weight: bold;  
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.habilidades li::before{
    content:"✔️";
}
.repositorio{
    border: 2px solid lightgray;
    border-radius: 10px;
    text-indent: 1em;
    background:linear-gradient(var(--linear-gradient));
    margin:1em 0;
    box-shadow: 0 5px 2px 3px;
   
}
.repositorio a{
    color:darkred;
    font-size:1.2em;
}
.repositorio p{
    font-weight: bold;
}
#github h2,
.titulo h2,
#certificados h2{
    margin:0.5em 0 0 0.2em;
}

.repositorio a:hover{
    font-size:1.3em;
}

#certificados-img{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap:0.5em;
}
#certificados-img img{
    width:300px;
    height:400px;
}
#certificados-img .imagen-ancha{
    width:420px;    
}
/* FOOTER */
#footer{
    height:12em;
    background:linear-gradient(var(--linear-gradient))
}
.seccion-footer{
    display:flex;
    justify-content: end;
    height:12em;
    align-items: center;
    margin:1em;
    
}
#contactor img{
    float:left;
}
#contacto div{
    margin:1em;
}
.logo-footer{
    position:absolute;
    bottom: 10px;
    left:-50px;
}
#redes{
    position:fixed;
    bottom:30%;
    right:0;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    height:230px;
    width:35px;
    justify-content: center;
    align-items: center;    
}
#redes i{
    color:lightseagreen;
    margin:1em;
    transform:scale(1.8);
}
.telefono{
    margin:-8px 0.5em ;   
}
#contacto img:not(.telefono){
    margin:0 0.5em;
}

#contacto{
    color:linen;
    font-weight:bold;
    margin:0 0.5em;
}
#contacto img{
    transform:scale(1.2);
    border-radius:100%;
}
/* MEDIA QUERIES */
@media only screen and (max-width:1440px){
    #certificados-img{
        grid-template-columns: repeat(2,1fr);
        
    }
    .habilidades ul{
        grid-template-columns: repeat(4,1fr);
    }
}   
@media only screen and (max-width:780px){
    #certificados-img{
        grid-template-columns:1fr; 
    }
    .habilidades ul{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width:740px){

    #nav-bar ul{
        justify-content: space-evenly;
    }
    #nav-bar li{
        margin:0em 0em;
    }
    #certificados-img{

        grid-template-columns:1fr; 
    }
}
@media only screen and (max-width:580px){
    #cabecera h1{
        transform:scale(0.9);
        margin:0.6em 0em;
    }
    .habilidades ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:550px){
    #cabecera h1{
        transform:scale(0.8);
        margin:0.6em -0.2em 0.6em 0em;
    }
    .logo-cabecera{
        position:absolute;
        left:-60px;
    }
}


