* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
}
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.agrupar {
  width: 960px;
  margin: 10px auto;
  background: url("imagenes_hbdy/fondoh1header.jfif");
}

.cabecerah1{
  font-size: 4em;
  font-style: italic;
  color: gold;
  margin-bottom: 0.1em;
}
.reina{
  display:block;
  font-size: 0.5em;
}
.h1fotos{
  margin: 0.5em 0;
}
.foto img{
  width: 220px;
  height: 220px; 
  border-radius: 1.5em;
  margin: 0.5em 1em;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.h1fotos,
.footer,
.tqm {
  text-transform: uppercase;
  color: gold;
  font: 1.5em solid verdana, sans-serif;
  -moz-font: 1.5em solid verdana, sans-serif;
  -webkit-font: 1.5em solid verdana, sans-serif;
}
.mensajefooter{
  margin: 0.5em 0;
  font: 1em solid verdana, sans-serif;
}
.imagenesfooter {
  width: 970px;
  margin: 0 auto;
  -moz-width: 970px;
  -webkit-width: 970px;
}
.video {
  position: absolute;
}
.parrafo{
  width:960px;
  text-align: center;
  font: 0.6em solid verdana, sans-serif; 
}
.imagenesfooter img{
  width:8.5em;
  border-radius: 2em;
}
.tqm{
  padding-bottom: 0.5em;
}
.footer{
  margin-top:0.5em;
}
