*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
#agrupar{
    width: 960px;
    border: 1px solid black;
    margin: 10px auto;   
}

#cabecera{
    align-items: center;
    background-color: #FFFBB9;
    display: inline-block;  
    width: 100%;     
}
#cabecera h1{
    font: bold 36px verdana;
    font-style: italic;
    text-align: center;
    line-height: 90px;
}
#menu{
    padding: 8px;
    background-color: lightgrey;
    font: 18px bold verdana;
}
#menu li{
    display:inline;
    margin-left: 6em;
}

.container h1{
    text-decoration: underline;
    text-align: center;
    margin: 0.5em 1em;
    
} 
.contacto div{
    margin: 0.5em 1em;
    font: 16px bold verdana;
} 
#cabecera img{
    width: 10%;
    height: 10%;

}
#cabecerah1,
#columna,
.contacto,
#cabecera img{
    float:left;  
}
.contacto{
    width: 50%;
}
.contacto div{
   font-size: larger; 
   font-size: 20px;
}
#columna{
    width:50%;
    text-align: center;
}
#columna blockquote{
    display:inline-block;
}

.contacto img{
    width: 1.5em;
}

#columna img{   
    width: 45px;
    height: 35px;
    margin: 5px;
}

/* footer */

#pie{
    background-color: blue;
    text-align: center;
    color: white;
    clear:both;
    font: bold 16px verdana;
    padding: 8px;
}
